
/* ===[ MAIN.JSX ]======================================= */

body{
    background-color: rgb(153, 204, 255);
    text-align: center;
    padding: 30px 100px;
}

.MainContainer{
    background-color: rgba(254, 254, 254, 0.782);
    border: 7px solid white;
    padding: 15px 50px;
    box-shadow: 5px 5px 5px #888888;
    border-radius: 10px; 
}

.menu1{
    display: flex;
    justify-content: center;
}

.menuButton{
    margin: 2px;
    padding: 3px 6px;
    border: 1px solid black;
    box-shadow: 5px 5px 5px #888888;
    border-radius: 10px; 
    background-color: rgb(102, 204, 255);
}

.menuButton:hover{
    background-color: rgb(51, 153, 255);
}

.maskInputContainer{
    /* border: 1px solid blue; */
}

.labelStyle{
    /* width: 10vw; */
    /* border: 1px solid red; */
}

.maskInputStyle{
    /* border: 1ps solid greenyellow; */
    background-color: #e2ffc470;
    margin-left: 50px;
}